*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

.d-flex {
  display: flex; }

.flex-col {
  flex-direction: column; }

.u-d-center {
  align-items: center;
  justify-content: center; }

.gap--1 {
  gap: 1rem; }

.gap--2 {
  gap: 2rem; }

.gap--3 {
  gap: 3rem; }

.gap--4 {
  gap: 4rem; }

.d-none {
  display: none; }

.overflow-y {
  overflow-y: scroll; }
  .overflow-y::-webkit-scrollbar {
    display: none; }

html {
  font-size: 62.5%;
  overflow: hidden; }

body {
  font-family: sans-serif;
  box-sizing: border-box;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none; }

.container {
  background-color: rgba(255, 68, 0, 0.295); }
  .container-outside {
    height: 100vh;
    position: relative;
    background-color: rgba(255, 68, 0, 0.11);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); }
  .container-inner {
    width: 34rem;
    height: 70rem;
    transition: all 1s; }
    .container-inner--1 {
      background-color: orangered;
      color: #facd8e;
      width: 34rem;
      height: 70rem;
      backface-visibility: hidden;
      padding: 4rem; }
    .container-inner--2 {
      background-color: #fac8b6;
      width: 34rem;
      height: 70rem;
      backface-visibility: hidden; }

.img {
  margin-bottom: 8rem; }

.background-wall {
  height: 10rem;
  width: 10rem;
  background-color: rgba(255, 68, 0, 0.445);
  position: absolute; }
  .background-wall--1 {
    border-radius: 50%;
    top: 20%;
    left: 20%; }
  .background-wall--2 {
    border-radius: 50%;
    height: 30rem;
    width: 30rem;
    top: 33%;
    left: 67%; }
  .background-wall--3 {
    border-radius: 50%;
    top: 20%;
    left: 67%; }

.text-description {
  text-align: center;
  font-size: 1.5rem;
  animation: moveInLeft 1s ease-out; }

.header {
  padding: 2rem;
  position: relative;
  background-color: orangered;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  width: 100%;
  height: 28%; }
  .header a {
    text-decoration: none; }
  .header .print {
    width: 75%;
    padding: 1rem;
    background-color: #facd8e81;
    border-top: 4px solid #330e00;
    animation: moveInLeft 1s ease-out;
    align-self: center;
    justify-self: center;
    position: relative; }
    .header .print-out {
      color: #facd8e;
      font-size: 1.6rem;
      text-align: center; }
    .header .print .close {
      position: absolute;
      right: -1rem;
      top: -1rem;
      height: 2.4rem;
      width: 2.4rem;
      border-radius: 50%;
      background-color: #ff4400;
      cursor: pointer;
      box-shadow: 0 0 1rem #330e00; }
      .header .print .close:hover {
        background-color: #e03c00; }
      .header .print .close .material-symbols-outlined {
        color: #facd8e;
        font-size: 2rem;
        text-align: center; }

.logo--2 {
  width: 4rem;
  position: absolute;
  right: 2rem;
  top: 2rem; }

.login,
.sign-up {
  height: 62%;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 2rem; }
  .login .description,
  .sign-up .description {
    font-size: 1.8rem;
    text-align: center;
    background-image: linear-gradient(to right bottom, orangered, #facd8e);
    display: inline-block;
    font-weight: 600;
    -webkit-background-clip: text;
    margin-block: 2rem 4rem; }
  .login label,
  .sign-up label {
    margin-bottom: 1rem;
    color: #330e00;
    font-weight: 600; }
  .login input,
  .login select,
  .sign-up input,
  .sign-up select {
    margin-bottom: 2rem;
    display: inline-block;
    border: none;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    color: #330e00; }
    .login input:focus,
    .login select:focus,
    .sign-up input:focus,
    .sign-up select:focus {
      outline: 1px solid orangered; }
  .login input,
  .sign-up input {
    font-size: 1.8rem;
    font-weight: 600; }
  .login select,
  .sign-up select {
    width: 50%; }
  .login-btn,
  .sign-up-btn {
    margin-bottom: 4rem; }
  .login .create a:link,
  .login .create a:visited,
  .sign-up .create a:link,
  .sign-up .create a:visited {
    color: orangered;
    font-weight: 600;
    text-decoration: none; }

.login input {
  width: 75%; }

.form-sign {
  width: 75%;
  padding-bottom: 4rem; }

.condition {
  margin-bottom: 2rem; }

.sign-btn {
  width: 50%;
  text-align: center; }

.footer {
  width: 100%;
  height: 10%;
  background-color: orangered;
  clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%); }

.icons {
  margin-bottom: 2rem;
  margin-left: -0.5rem;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center; }
  .icons-back {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #fef5e844; }
    .icons-back:hover {
      background-color: #fde6c7b8; }
    .icons-back:hover .material-symbols-outlined {
      color: orangered; }

.material-symbols-outlined {
  width: 2.4rem;
  color: #facd8e;
  font-weight: 800; }

.condition {
  text-align: center; }
  .condition span {
    color: #330e00;
    font-weight: 600; }

#checkbox {
  background-color: orangered;
  color: #fff;
  fill: orangered; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 1.5rem;
  display: inline-block;
  border-radius: 1rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-1.5px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--primary {
  background-color: #facd8e;
  color: orangered;
  font-weight: 600;
  letter-spacing: 1px;
  width: 80%; }
  .btn--primary::after {
    background-color: #facd8e; }

.btn--secondary {
  background-color: orangered;
  color: #facd8e; }
  .btn--secondary::after {
    background-color: orangered; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--animated {
  animation: moveInBottom 0.8s ease-out 0.75s;
  animation-fill-mode: backwards; }

@keyframes moveInBottom {
  0% {
    transform: translateY(10rem);
    opacity: 0; }
  100% {
    transform: translateY(0rem);
    opacity: 1; } }

@keyframes moveInLeft {
  0% {
    transform: translateX(-5rem);
    opacity: 0; }
  100% {
    transform: translateX(0rem);
    opacity: 1; } }
