//---------------------------asigning variable
$width: 34rem;
$height: 70rem;
$grid-width: 32rem;

//$color
$text-primary: #facd8e;

$color-white: #fff;
$color-black: #000;
$color-primary: #ff4500;
$color-primary--shade: #802300;
$color-primary--light: #fac8b6;

$gutter-vertical-sm: 2rem;
$gutter-vertical-l: 4rem;
$gutter-vertical-xl: 8rem;

$default-font-size: 1.6rem;
