.background-layer {
  height: 10rem;
  width: 10rem;
  background-color: rgba($color-primary, 0.445);
  position: absolute;

  &--1 {
    border-radius: 50%;
    top: 20%;
    left: 20%;
  }

  &--2 {
    border-radius: 50%;
    height: 30rem;
    width: 30rem;
    top: 33%;
    left: 67%;
  }

  &--3 {
    border-radius: 50%;
    top: 20%;
    left: 67%;
  }
}
